@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
  
    .imagen{
        height: 15rem;
        background-image: url(../img/fondo.jpg);
        background-size: cover;
        background-position: center center;
        margin-bottom: 2rem;
    }
    background-color: v.$negro;
    padding: 2rem;
    h2{
        color: v.$blanco;
        margin: 0;
        text-align: center;
    }

    .sidebar-nav{
        margin-top: 5rem;
        a{
            color: v.$blanco;
            display: block;
            margin-bottom: 2rem;
            padding: .7rem;
            transition-property: background-color;
            transition-duration: 300ms;
            font-weight: v.$bold;
            font-size: 2rem;

            &:hover,
            &.activo{
                background-color: darken(v.$azul, 20%);
                border-radius: .5rem;
            }
        }
    }
}